.navbar {
  display: flex;
  flex-direction: column;
  width: 17%;
  background-color: slategrey;
}

.navbar__title {
  display: flex;
  height: 11vh;
  justify-content: center;
  align-items: center;
  background-color: slategrey;
  font-size: 24px;
  font-weight: 800;
  box-shadow: 5px 5px 10px;
}
